In [40]:
data = pd.read_csv(r'C:\Users\HPPC\Downloads\train_oSwQCTC.zip')

In [41]:
data.head()

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,F,0-17,10,A,2,0,3,NaN,NaN,8370
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200
2,1000001,P00087842,F,0-17,10,A,2,0,12,NaN,NaN,1422
3,1000001,P00085442,F,0-17,10,A,2,0,12,14.0,NaN,1057
4,1000002,P00285442,M,55+,16,C,4+,0,8,NaN,NaN,7969

In [42]:
data = data.drop(['User_ID','Product_ID','Product_Category_3'],1)

In [43]:
data.isnull().sum()

Gender                             0
Age                                0
Occupation                         0
City_Category                      0
Stay_In_Current_City_Years         0
Marital_Status                     0
Product_Category_1                 0
Product_Category_2            173638
Purchase                           0
dtype: int64

In [44]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 550068 entries, 0 to 550067
Data columns (total 9 columns):
Gender                        550068 non-null object
Age                           550068 non-null object
Occupation                    550068 non-null int64
City_Category                 550068 non-null object
Stay_In_Current_City_Years    550068 non-null object
Marital_Status                550068 non-null int64
Product_Category_1            550068 non-null int64
Product_Category_2            376430 non-null float64
Purchase                      550068 non-null int64
dtypes: float64(1), int64(4), object(4)
memory usage: 37.8+ MB

In [45]:
data['Product_Category_2'].value_counts()

8.0     64088
14.0    55108
2.0     49217
16.0    43255
15.0    37855
5.0     26235
4.0     25677
6.0     16466
11.0    14134
17.0    13320
13.0    10531
9.0      5693
12.0     5528
10.0     3043
3.0      2884
18.0     2770
7.0       626
Name: Product_Category_2, dtype: int64

In [50]:
import numpy as np
cat2_mode = (data['Product_Category_2']).mode()
cat2_mode.dtype

dtype('float64')

In [52]:
data['Product_Category_2'] = data['Product_Category_2'].fillna(float(cat2_mode))

In [53]:
data = pd.get_dummies(data)

In [54]:
data.isnull().sum()

Occupation                       0
Marital_Status                   0
Product_Category_1               0
Product_Category_2               0
Purchase                         0
Gender_F                         0
Gender_M                         0
Age_0-17                         0
Age_18-25                        0
Age_26-35                        0
Age_36-45                        0
Age_46-50                        0
Age_51-55                        0
Age_55+                          0
City_Category_A                  0
City_Category_B                  0
City_Category_C                  0
Stay_In_Current_City_Years_0     0
Stay_In_Current_City_Years_1     0
Stay_In_Current_City_Years_2     0
Stay_In_Current_City_Years_3     0
Stay_In_Current_City_Years_4+    0
dtype: int64

In [55]:
data = data.drop(["Gender_F",'Age_55+','City_Category_C','Stay_In_Current_City_Years_4+'],1)

In [56]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 550068 entries, 0 to 550067
Data columns (total 18 columns):
Occupation                      550068 non-null int64
Marital_Status                  550068 non-null int64
Product_Category_1              550068 non-null int64
Product_Category_2              550068 non-null float64
Purchase                        550068 non-null int64
Gender_M                        550068 non-null uint8
Age_0-17                        550068 non-null uint8
Age_18-25                       550068 non-null uint8
Age_26-35                       550068 non-null uint8
Age_36-45                       550068 non-null uint8
Age_46-50                       550068 non-null uint8
Age_51-55                       550068 non-null uint8
City_Category_A                 550068 non-null uint8
City_Category_B                 550068 non-null uint8
Stay_In_Current_City_Years_0    550068 non-null uint8
Stay_In_Current_City_Years_1    550068 non-null uint8
Stay_In_Current_City_Years_2    550068 non-null uint8
Stay_In_Current_City_Years_3    550068 non-null uint8
dtypes: float64(1), int64(4), uint8(13)
memory usage: 27.8 MB

In [57]:
X = data.drop(['Purchase'],1)
y = data['Purchase']

In [67]:
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix,r2_score
from sklearn.model_selection import train_test_split as tts, cross_val_score, GridSearchCV

In [59]:
X_train,X_test,y_train,y_test = tts(X,y,test_size= 0.3,random_state=42)

In [63]:
from sklearn.linear_model import LinearRegression,Ridge,RidgeCV,Lasso,LassoCV,ElasticNet,ElasticNetCV

In [64]:
lin_reg = LinearRegression()

In [68]:
lin_reg.fit(X_train,y_train)
y_pred = lin_reg.predict(X_test)
print(r2_score(y_test,y_pred))

0.12405884243820875

In [69]:
ridge = Ridge()
ridge

Ridge(alpha=1.0, copy_X=True, fit_intercept=True, max_iter=None,
   normalize=False, random_state=None, solver='auto', tol=0.001)

In [75]:
ridge.fit(X_train,y_train)
y_pred = ridge.predict(X_test)
print(r2_score(y_test,y_pred))

0.12405882613899788

In [72]:
ridge_cv = RidgeCV(cv = 10)
ridge_cv

RidgeCV(alphas=array([ 0.1,  1. , 10. ]), cv=10, fit_intercept=True,
    gcv_mode=None, normalize=False, scoring=None, store_cv_values=False)

In [77]:
ridge_cv.fit(X,y)

RidgeCV(alphas=array([ 0.1,  1. , 10. ]), cv=10, fit_intercept=True,
    gcv_mode=None, normalize=False, scoring=None, store_cv_values=False)

In [78]:
lasso = Lasso()
lasso

Lasso(alpha=1.0, copy_X=True, fit_intercept=True, max_iter=1000,
   normalize=False, positive=False, precompute=False, random_state=None,
   selection='cyclic', tol=0.0001, warm_start=False)

In [79]:
lasso.fit(X_train,y_train)
y_pred = lasso.predict(X_test)
print(r2_score(y_test,y_pred))

0.12402293235751316

In [80]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor

In [84]:
dtc = DecisionTreeRegressor(max_depth = 12)
dtc

DecisionTreeRegressor(criterion='mse', max_depth=12, max_features=None,
           max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           presort=False, random_state=None, splitter='best')

In [85]:
dtc.fit(X_train,y_train)
y_pred = dtc.predict(X_test)
print(r2_score(y_test,y_pred))

0.6425341527027172

In [86]:
dtc.feature_importances_

array([6.93955718e-03, 1.44900898e-03, 9.63614492e-01, 1.03845974e-02,
       1.80184029e-03, 4.75719084e-04, 1.15273553e-03, 1.24296058e-03,
       7.35113070e-04, 7.72509066e-04, 9.93221085e-04, 2.52173910e-03,
       2.90498485e-03, 1.04863543e-03, 1.32013663e-03, 1.26637320e-03,
       1.37637652e-03])

In [87]:
X.columns

Index(['Occupation', 'Marital_Status', 'Product_Category_1',
       'Product_Category_2', 'Gender_M', 'Age_0-17', 'Age_18-25', 'Age_26-35',
       'Age_36-45', 'Age_46-50', 'Age_51-55', 'City_Category_A',
       'City_Category_B', 'Stay_In_Current_City_Years_0',
       'Stay_In_Current_City_Years_1', 'Stay_In_Current_City_Years_2',
       'Stay_In_Current_City_Years_3'],
      dtype='object')

In [101]:
d = {'col1': X.columns , 'col2' :dtc.feature_importances_}
col = pd.DataFrame(data =d)
col.columns = ['Feature','Value']
col

                         Feature     Value
0                     Occupation  0.006940
1                 Marital_Status  0.001449
2             Product_Category_1  0.963614
3             Product_Category_2  0.010385
4                       Gender_M  0.001802
5                       Age_0-17  0.000476
6                      Age_18-25  0.001153
7                      Age_26-35  0.001243
8                      Age_36-45  0.000735
9                      Age_46-50  0.000773
10                     Age_51-55  0.000993
11               City_Category_A  0.002522
12               City_Category_B  0.002905
13  Stay_In_Current_City_Years_0  0.001049
14  Stay_In_Current_City_Years_1  0.001320
15  Stay_In_Current_City_Years_2  0.001266
16  Stay_In_Current_City_Years_3  0.001376

In [92]:
rfc = RandomForestRegressor(max_depth=12)
rfc

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=12,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators='warn', n_jobs=None,
           oob_score=False, random_state=None, verbose=0, warm_start=False)

In [93]:
rfc.fit(X_train,y_train)
y_pred = rfc.predict(X_test)
print(r2_score(y_test,y_pred))

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

0.6502138671543349

In [102]:
from sklearn.ensemble import GradientBoostingRegressor

In [103]:
gb = GradientBoostingRegressor()
gb

GradientBoostingRegressor(alpha=0.9, criterion='friedman_mse', init=None,
             learning_rate=0.1, loss='ls', max_depth=3, max_features=None,
             max_leaf_nodes=None, min_impurity_decrease=0.0,
             min_impurity_split=None, min_samples_leaf=1,
             min_samples_split=2, min_weight_fraction_leaf=0.0,
             n_estimators=100, n_iter_no_change=None, presort='auto',
             random_state=None, subsample=1.0, tol=0.0001,
             validation_fraction=0.1, verbose=0, warm_start=False)

In [104]:
gb.fit(X_train,y_train)
y_pred = gb.predict(X_test)
print(r2_score(y_test,y_pred))

0.6396253111305044

In [106]:
!pip install xgboost

Collecting xgboost
  Downloading https://files.pythonhosted.org/packages/5e/49/b95c037b717b4ceadc76b6e164603471225c27052d1611d5a2e832757945/xgboost-0.90-py2.py3-none-win_amd64.whl (18.3MB)
Requirement already satisfied: scipy in c:\programdata\anaconda3\lib\site-packages (from xgboost) (1.2.1)
Requirement already satisfied: numpy in c:\programdata\anaconda3\lib\site-packages (from xgboost) (1.16.2)
Installing collected packages: xgboost
Successfully installed xgboost-0.90

In [107]:
from xgboost import XGBRegressor

In [114]:
xgb = XGBRegressor()
xgb
xgb.fit(X_train,y_train)
y_pred = xgb.predict(X_test)
print(r2_score(y_test,y_pred))

[15:19:11] WARNING: C:/Jenkins/workspace/xgboost-win64_release_0.90/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
0.6396596228584542

In [112]:
xgb

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bynode=1, colsample_bytree=1, gamma=0,
       importance_type='gain', learning_rate=0.1, max_delta_step=0,
       max_depth=3, min_child_weight=1, missing=None, n_estimators=100,
       n_jobs=1, nthread=None, objective='reg:linear', random_state=0,
       reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
       silent=None, subsample=1, verbosity=1)